@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  interpolate-size: allow-keywords;
  color-scheme: light;
}

.dark {
  color-scheme: dark;
}

@view-transition {
  navigation: auto;
}

/* ::view-transition-group(root) {
  animation-duration: 1s;
} */

/* @keyframes fade-in {
  from { opacity: 0; }
}

@keyframes fade-out {
  to { opacity: 0; }
}

@keyframes slide-from-right {
  from { transform: translateX(100px); }
}

@keyframes slide-to-left {
  to { transform: translateX(-100px); }
}

::view-transition-old(root) {
  animation: 1s fade-out,
    1s slide-to-left;
}

::view-transition-new(root) {
  animation: 1s fade-in,
    1s slide-from-right;
} */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-yellow-500 dark:bg-black text-black dark:text-yellow-500 font-mono;
}

body:has(.slideout-open) {
  @apply overflow-hidden;
}

::selection {
  background-color: light-dark(#000, #fff);
  color: light-dark(#fff, #000);
}

.slide-wrap {
  perspective: 1000px;
}

.slide {
  @media screen and (min-width: 1024px) {
    animation: fadeInUpScale linear;
  }

  animation-timeline: view();
  animation-range: 0 98vh;
  transform-origin: top;
  backface-visibility: hidden;
}

.slide a:not(.btn) {
  @apply underline text-blue-500 hover:bg-blue-500 hover:text-white transition;
}

.slide code {
  @apply text-slate-600 bg-slate-100 dark:bg-slate-600 dark:text-white rounded px-1 ~text-base/xl;
}

@keyframes fadeInUpScale {
  from {
    transform: scale(0.3) rotate(10deg);
    filter: grayscale(1);
  }
  to {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1) translateY(0);
  }
}

header {
  animation: blur linear forwards;
  animation-timeline: scroll();
  animation-range: 0 800px;
}

@keyframes blur {
  100% { filter: blur(20px); opacity: 0; }
}

.slide-heading {
  @apply ~text-3xl/4xl font-primary uppercase font-normal;
}

figcaption {
  @apply text-gray-400 text-sm mt-1;
}

.pulse {
  animation: pulse 2s infinite ease-in;
  transition: .3s;
  @apply hover:border-yellow-800;
}

.pulse:hover {
  animation-play-state: paused;
}

.pulse svg {
  transition: .3s;
}

.pulse:hover svg {
  @apply fill-yellow-800;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

baseline-status {
  @apply w-full border border-slate-400 dark:border-slate-600 rounded-2xl bg-gradient-to-t from-slate-100 dark:from-gray-950;
  font-size: 1rem;
  line-height: 1.5;
}

baseline-status:has(baseline-icon[support="newly"]) {
  @apply from-blue-300;
}

baseline-icon {
  display: none;
}

.name {
  display: none !important;
}

.wrap-text.wrap-text pre code {
  white-space: pre-wrap; /* Wrap long lines */
  word-break: break-word; /* Break long words */
}

pre.refractor {
  @apply shadow-xl;
}



/* light-dark demos */
.light-dark-example:has([name="ld-toggle"]:checked) {
  color-scheme: dark;
}

.light-dark-example .example {
  background-color: light-dark(antiquewhite, #283249);
  color: light-dark(#000, #fff);
  border: 10px solid light-dark(#dacebd, #969fb5);
}


/* :has demos */
.has-demo2-tab {
  @apply hidden;
}

.has-demo2:has(.tab-1:checked) .has-demo2-tab-1 { @apply block; }
.has-demo2:has(.tab-2:checked) .has-demo2-tab-2 { @apply block; }
.has-demo2:has(.tab-3:checked) .has-demo2-tab-3 { @apply block; }


/* Starting Style */

/* ACTIVE STATE */
.modal-ss-demo.starting-style.active {
  translate: 0 0;
  display: flex;
}

/* EXIT END STATE */
.modal-ss-demo {
  transition: 0.7s;
  transition-behavior: allow-discrete;
  translate: 0 -100vh;
  display: none;
}

/* ENTRY START STATE   */
@starting-style {
  .modal-ss-demo.starting-style.active {
    translate: 0 100vh;
  }
}



/* Scroll demos */
.scroll-indicator {
  animation: scaleXFull;
  animation-timeline: scroll();
  transform-origin: left;
}

@keyframes scaleXFull {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes colorChange {
  from {
    background-color: red;
  }
  to {
    background-color: rebeccapurple;
  }
}


.anim-view-demo {
  animation: colorChange, scaleXFull;
  animation-timeline: view();
}

.anim-view-demo2 {
  animation: colorChange, scaleXFull;
  animation-timeline: view();
  animation-range: 0 100vh;
}

.anim-view-demo3 {
  animation: colorChange, scaleXFull;
  animation-timeline: view();
  animation-range: 200px 600px;
}


