@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  interpolate-size: allow-keywords;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@view-transition {
  navigation: auto;
  types: slide, forwards;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply bg-yellow-500 font-mono;
}


::selection {
  @apply bg-black text-white;
}

.slide-wrap {
  perspective: 1000px;
}

.slide {
  animation: fadeInUpScale linear;
  animation-timeline: view();
  animation-range: 0 100vh;
  transform-origin: top;
  backface-visibility: hidden;
}

.slide a:not(.btn) {
  @apply underline text-blue-500 hover:bg-blue-500 hover:text-white transition;
}

.slide code {
  @apply text-slate-600 bg-slate-100 rounded px-1 ~text-base/xl;
}

@keyframes fadeInUpScale {
  from {
    transform: scale(0.3);
    filter: grayscale(1);
  }
  to {
    opacity: 1;
    filter: grayscale(0);
    transform: scale(1) translateY(0);
  }
}

header {
  animation: blur linear forwards;
  animation-timeline: scroll();
}

@keyframes blur {
  40% { filter: blur(20px); opacity: 0; }
  100% { filter: blur(20px); opacity: 0; }
}

.slide-heading {
  @apply ~text-3xl/4xl font-primary uppercase font-normal;
}

figcaption {
  @apply text-gray-400 text-sm mt-1;
}

.pulse {
  animation: pulse 2s infinite ease-in;
  transition: .3s;
  @apply hover:border-yellow-800;
}

.pulse:hover {
  animation-play-state: paused;
}

.pulse svg {
  transition: .3s;
}

.pulse:hover svg {
  @apply fill-yellow-800;
}

@keyframes pulse {
  50% {
    transform: scale(1.1);
  }
}

baseline-status {
  @apply w-full border border-slate-400 rounded-2xl bg-gradient-to-t from-slate-100;
  font-size: 1rem;
  line-height: 1.5;
}

.wrap-text.wrap-text pre code {
  white-space: pre-wrap; /* Wrap long lines */
  word-break: break-word; /* Break long words */
}

pre.refractor {
  @apply shadow-xl;
}